.section-error {
  border: solid 4px black;
  background-color:rgb(225, 207, 228);
  height: 15em;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  width: 50%;
}

h3 {
  color:red;
  font-size: 4em;
  font-weight: bolder;
  margin: 10px 10px;
}

.p-error {
  font-size: 1em;
  margin: 10px 50px;
}

.button-error {
  font-size: .8em;
  width: 35%;
  font-weight: bolder;
  height: 35px;
  border-radius: 5px;
  margin-top: 30px;
  &:hover {
    cursor: pointer;
    border: solid 2px black;
    background-color:white;
    color: black;
  }
}