.div-score-board {
  display: flex;
  justify-content: center;
}

.div-name-skill {
  border-bottom: solid 1px black;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 0;
}

.section-team-score {
  border: solid 2px black;
  background-color: #e1cfe4;
  height: 19em;
  margin: 3em;
  width: 20%;
}

.section-score-board {
  border: solid 4px black;
  background-color: rgb(225, 207, 228);
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  width: 35%;
}

.h2-score {
  font-size: 1.5em;
  color: white;
  text-align: center;
}

.img-basketball {
  height: 100px;
  margin: auto;
  width: 100px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.h4-score {
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  margin: 0;
}

.h4-score-board {
  border-bottom: solid 1px black;
  font-size: 1.8em;
  font-weight: bolder;
  margin: 0;
  padding: 10px;
}

.btn-score-board {
  margin: 0 auto;
  display: block;
  border-bottom: solid 1px black;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 75%;
}

.h5-skill {
  text-align: center;
  font-size: 1em;
  padding-top: 14px;
  margin: 0;
}

p {
  padding-left: 15px;
  font-size: 1em;
}

.p-final {
  border-bottom: solid 1px black;
  padding-bottom: 20px;
}

.winner-name {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

//styling for btn right now lives in NAV