.game-container {
  display: flex;
}

.section-team {
  border: solid 2px black;
  background-color: rgb(225, 207, 228);
  display: flex;
  flex-direction: column;
  height: 25em;
  margin: 3em;
  width: 40%;
  &>h2 {
    text-align: center;
  }
  &>h4 {
    text-align: center;
  }
}

.div-team-info {
  border-bottom: solid 1px black;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 0;
}

.game-label {
  padding-left: 10px;
  font-size: .8em;
  margin: 0;
  margin-top: 5px;
}

.team-name {
  font-size: 2.5em;
  margin: 0;
}

.h4-game {
  margin: 0;
}

.btn-stats {
  display: block;
  font-size: 1em;
  width: 20%;
  font-weight: bolder;
  height: 35px;
  margin: 0 auto;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    border: solid 2px black;
    background-color:white;
    color: black;
  }
}

.p-select-player {
  color: white;
  display: flex;
  font-size: 2em;
  justify-content: center;
}

.img-game-container {
  margin: 1.5em;
  height: 250px;
  width: 220px;
}

.div-selects {
  display: flex;
  flex-direction: column;
}

.div-selects-wrap {
  display: flex;
}